* {
  box-sizing: border-box;
}

body {
  color: $primary-color;
  font-family: -apple-system, "BlinkMacSystemFont", "Roboto", sans-serif;
  font-size: $m-size;
  line-height: 1.7;
  margin: 0;
}

a {
  color: $primary-color;
}

a:visited {
  color: $primary-color;
}

a:hover {
  color: $secondary-color;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
