header {
  line-height: $l-size;
  padding-top: $l-size;
  text-align: center;
}

header h1 {
  color: $secondary-color;
}

header p {
  color: lighten($primary-color, 40%);
}

.header--top-line {
  width: 100%;
  border-bottom: 4px solid $secondary-color;
}
