.post-container {
  margin-bottom: $m-size;
}

.post-container h3:hover {
  color: $secondary-color;
  cursor: pointer;
}

.post-container time {
  color: lighten($primary-color, 40%);
}

.post-container time:hover {
  color: $secondary-color;
  cursor: pointer;
}
